##Variables

In [ ]:
a = 1       # integer
b = 1.1     # float or double
c = 1 + 2j  # complex number (a + bi)
d = "a"     # string
e = True    # boolean (True / False)

print(a)
print(b)
print(c)
print(d)
print(e)
print(type(a))

1
1.1
(1+2j)
a
True
<class 'int'>

##Strings

In [ ]:
x = "Python"
print(x[0])
print(x[-1])
print(x[-2])
print(x[0:3])

print(len(x))
print(x.lower())
print(x.upper())
print(x.find("y"))

P
n
o
Pyt
6
python
PYTHON
1

##Conditional Statements

In [ ]:
g=1

if g==0:
  print("Zero")
elif g>0:
  print("Positive")
else:
  print ("Negative")

##Loops

###For Loop

In [ ]:
for n in range(1, 10):
    print(n)

1
2
3
4
5
6
7
8
9

In [ ]:
for n in range(1, 10,2):
    print(n)

1
3
5
7
9

###While Loop

In [ ]:
n=0
while n < 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

##Input Functions

In [ ]:
def increment(number, inc):
   result=number + inc
   return result

# Keyword arguments

inputnumber=int(input("Please enter a number: "))

print(increment(inputnumber, 2))

##NumPy Creating Arrays

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

##Differentiation with one variable

In [ ]:
#Import SymPy
from sympy import*

#Make a symbol
x= symbols('x')

#Write symbolic expression
f = 2*x**3+ x**2 + 3*x+ 5

#taking the first derivative of the function
df= diff(f,x)

#taking the nth derivative of the function (passing the third argument)
df2= diff(f,x,2)
df3= diff(f,x,3)

#printing
print(df)

print(df2)
print(df3)

#Substituting values into expressions
print(f.subs(x,4))

print(df.subs(x,4))

#For evaluating a numerical expression into a floating point number use "evalf"
print(df.subs(x,4).evalf())

6*x**2 + 2*x + 3
2*(6*x + 1)
12
161
107
107.000000000000

In [ ]:
#Import SymPy
from sympy import*

#Make a symbol
x= symbols('x')

#Write symbolic expression
f = sin(x)+ ln(x)

#taking the first derivative of the function
df= diff(f,x)

print(df)

print(df.subs(x,4))

cos(x) + 1/x
cos(4) + 1/4